xml-lsp-parser/xml-lsp-parser/example_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    
    <!-- Élément racine -->
    <xs:element name="bibliotheque">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="livre" type="livreType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Type complexe pour un livre -->
    <xs:complexType name="livreType">
        <xs:sequence>
            <xs:element name="titre" type="xs:string"/>
            <xs:element name="auteur" type="xs:string"/>
            <xs:element name="annee" type="xs:gYear"/>
            <xs:element name="genre" type="xs:string"/>
            <xs:element name="prix" type="xs:decimal"/>
            <xs:element name="disponible" type="xs:boolean"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
    
</xs:schema>